<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserisci Scadenza e Immagini</title>
    <!-- Collegamento a Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .image-preview {
            max-width: 100%;
            max-height: 200px;
            margin-top: 10px;
            display: none;
        }
    </style>
</head>
<body class="bg-light d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <form class="row" action="/Crea_Asta" method="post" enctype="multipart/form-data">
                <div class="col-md-6 my-auto text-center">
                    <div class="card">
                        <div class="card-header bg-primary text-white">Inserisci Scadenza e Immagini</div>
                        <div class="card-body">
                            <!-- Campo per i giorni -->
                            <div class="mb-3">
                                <label for="giorni" class="form-label">Giorni</label>
                                <select class="form-select" id="giorni" name="giorni" required>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                            </div>
                            <!-- Campo per i minuti -->
                            <div class="mb-3">
                                <label for="ore" class="form-label">Ore</label>
                                <select class="form-select" id="ore" name="ore" required>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="titolo" class="form-label">Titolo</label>
                                <input type="text" class="form-control" id="titolo" name="titolo" required>
                            </div>
                            <div class="mb-3">
                                <label for="descrizione" class="form-label">Descrizione</label>
                                <textarea class="form-control" id="descrizione" name="descrizione" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="offerta" class="form-label">Offerta minima di partenza</label>
                                <input type="number" class="form-control" id="offerta" name="offerta" min="1" required>
                            </div>
                            <div class="mb-3">
                                <label for="numeroImmagini" class="form-label">Numero di Immagini</label>
                                <input type="number" class="form-control" id="numeroImmagini" name="numeroImmagini" min="1" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Invia</button>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-auto text-center">
                    <div>
                        <h3>Anteprima Immagini</h3>
                        <div id="image-upload-container">
                            <!-- Campi di caricamento delle immagini verranno generati qui -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <%- include("./partials/bootstrap.ejs") %>

    <script type="module">
        // Funzione per gestire il caricamento delle immagini e creare anteprime
        import handleImageUpload from '/js/imagePreview.js';

        // Ottenere il numero di campi di caricamento delle immagini
        const numImmaginiInput = document.getElementById('numeroImmagini');
        const numImmagini = parseInt(numImmaginiInput.value);

        // Creare anteprime per ciascun campo di caricamento delle immagini
        for (let i = 0; i < numImmagini; i++) {
            const imageInput = document.getElementsByName('immagine' + i)[0];
            const imagePreview = document.createElement('img');
            imagePreview.className = 'image-preview mt-2';
            handleImageUpload(imageInput, imagePreview);

            // Aggiungere l'anteprima sotto il campo di caricamento delle immagini
            imageInput.parentNode.appendChild(imagePreview);
        }

        // Aggiungere un listener per l'evento 'input' sul campo del numero di immagini
        numImmaginiInput.addEventListener('input', function () {
            const newNumImmagini = parseInt(this.value);
            const imageUploadContainer = document.getElementById('image-upload-container');
            imageUploadContainer.innerHTML = '';

            // Creare nuovi campi di caricamento delle immagini e anteprime
            for (let i = 0; i < newNumImmagini; i++) {
                const imageInput = document.createElement('input');
                imageInput.type = 'file';
                imageInput.name = 'immagine' + i;
                imageInput.accept = 'image/*';
                imageInput.className = 'form-control';
                imageInput.required = true;

                const imagePreview = document.createElement('img');
                imagePreview.className = 'image-preview mt-2';
                handleImageUpload(imageInput, imagePreview);

                imageUploadContainer.appendChild(imageInput);
                imageUploadContainer.appendChild(imagePreview);
            }
        });
    </script>

</body>
</html>
